<div class="abrir-modal animation fadein">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-dark text-center">
                    <h5 class="modal-title text-light">Titulo</h5>
                    <button (click)="activeModal.dismiss('Cross click')" type="button" class="close text-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body center">
                    <div class="container">
                        <div class="form-row">
                            <div class="col-12 text-center">
                                <h3>Seleccione el Archivo</h3>
                            </div>
                        </div>
                    </div>
                    <div class="container m-3">
                        <div class="row">
                            <div class="col-md-3">
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-dark">
                </div>
            </div>
        </div>
    </div>
</div>