<div class="container bg-succes">
  <div class="row">
    <div class="card mb-3 w-100" style="max-width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="https://th.bing.com/th/id/OIP.hR3Fn3fqbj-qAT-RLlkLawHaD8?pid=Api&rs=1" class="card-img" alt="Logo OA">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{visorService.oa.tituloOA}}</h5>
            <p class="card-text">Autor: {{visorService.oa.nombreCompletoPropietario}} <br/> Categorías: {{categorias}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-12" style="max-width: 100%;">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="actividadesSecciones()" *ngIf="!iniciado">Modulos del OA</button>
      <div class="accordion" id="accordionMenu" *ngIf="iniciado">
        <div class="card" *ngFor="let seccion of seccionesCompletas">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{seccion.seccion.nombreSeccion}}
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMenu">
            <div class="card-body">
              <div class="btn-group-vertical btn-block">
                <button type="button" class="btn text-left" *ngFor="let pagina of seccion.paginas pag">
                  {{pagina.nombrePagina}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
