<form action="">

<div class="form-group">
  <label for="usr">Titulo:</label>
  <input type="text" class="form-control"  [(ngModel)]="objetoAprendizaje.tituloOA"  id="nameOA" name="nameOA">
</div>

<div class="form-group">
  <label for="comment">Descripcion:</label>
  <textarea class="form-control" [(ngModel)]="objetoAprendizaje.descripcion" rows="5" id="desc" ></textarea>
</div>

<div class="form-group">
    <ng-multiselect-dropdown
    [placeholder]="'Selecciona una categoria'"
    [data]="categorias"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
  </ng-multiselect-dropdown>
</div>


<button type="button" class="btn btn-success" (click)="crearOA()">Crear OA</button>
<button type="button" class="btn btn-danger">Cancelar</button>

</form>
