<div class="container fluid">
  <div class="container">
    <div class="form-group centrarTexto">
      <h2 style="color: cadetblue;">EDITAR OBJETO DE APRENDIZAJE: {{objetoAprendizajeDTO.tituloOA}}</h2>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="titulo">Título:</label>
          <input type="text" class="form-control" [(ngModel)]="objetoAprendizajeDTO.tituloOA" id="titulo" name="titulo"
            [ngModelOptions]="{standalone: true}" required #titulo="ngModel">
          <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
            <div *ngIf="titulo.errors.required">El titulo es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripcion:</label>
          <textarea class="form-control" [(ngModel)]="objetoAprendizajeDTO.descripcion" rows="5" id="desc"
            [ngModelOptions]="{standalone: true}" required #descripcion="ngModel"></textarea>
          <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
            <div *ngIf="descripcion.errors.required"> Debe ingresar una descripcion </div>
          </div>
        </div>

        <div class="form-group">
          <form [formGroup]="myForm">
            <ng-multiselect-dropdown [placeholder]="'Selecciona una categoria'" [data]="categorias" name="categorias"
              formControlName="categorias" [(ngModel)]="categoriasSeleccionadas" [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </form>
          <div class="alert alert-danger" *ngIf="iscategoriasseleccionadas">
            <div> Debe ingresar una categoria </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <button class="btn btn-info active form-group" routerLink="/crearSeccion">Agregar Sección <i
      class="fas fa-plus-square"></i></button>
    <div class="row">
      <div *ngIf="objetoAprendizajeDTO.secciones.length>0" class="mx-auto overflow">
        <div class="table-responsive">
          <!--Table-->
          <table class="table table-striped w-auto ml-3 mr-3">
            <!--Table head-->
            <thead>
              <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>descripcion</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody class="py-3">
              <tr *ngFor="let seccion of objetoAprendizajeDTO.secciones; index as i; let odd = odd" class="my-1"
                [ngClass]="{'celdaOscurita':!odd,'bg-light':odd}">
                <th scope="row">{{i + 1}}</th>
                <td>{{seccion.nombreSeccion}}</td>
                <td>{{seccion.descripcion}}</td>
                <td>
                  <button type="button" class="btn btn-default" (click)="editarSeccion(seccion.id)">
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-default">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
        <!--Table-->
      </div>
      <div *ngIf="objetoAprendizajeDTO.secciones.length==0">
        <span class="font-weight-bold">Este OA no tiene secciones creadas</span>
      </div>
    </div>
  </div>
  <div class="container botondiv">
    <button type="button" class="btn btn-success m-2 float-right">Actualizar</button>
    <button type="button" class="btn btn-danger m-2 float-right" routerLink="/home">Regresar</button>
  </div>
</div>